* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(#252525, #250707) no-repeat;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-family: 'Trebuchet MS', tahoma, verdana;
}
header {
  background-color: rgb(15, 15, 15);
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
}
div {
  width: 50%;
  position: relative;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em;
}
div p {
  text-indent: 2em;
  line-height: 1.5em;
}
div h2 {
  color: rgba(255, 255, 255, 0.25);
}
nav {
  font-size: 18px;
  position: absolute;
  width: 100%;
  z-index: 999;
}
@media screen and (max-width:400px) { /*responsive*/
  nav {
    font-size: 12px;
  }
}
nav ul li {
  position: relative;
  width: 12.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  text-align: center;
  display: block;
  background-color: rgb(20, 20, 20);
}
nav ul {
  list-style: none;
  border: 0;
  width: 100%;
  position: relative;
  display: block;
}
nav li:hover {
  background-color: black;
}
a {
  text-decoration: none;
}
footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-top: 5px solid black; 
  font-size: 12px;
}
.prev {
  margin: 1em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
}
.prev img {
  padding-top: 1em;
}
.gen-prevs {
  position: relative;
  margin: auto;
  width: 75%;
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.dropdown {
  display: none;
}
.menu-ds1:hover .dropdown-ds1 {
  display: block;
}
.menu-ds2:hover .dropdown-ds2 {
  display: block;
}
.menu-ds3:hover .dropdown-ds3 {
  display: block;
}
.menu-bb:hover .dropdown-bb {
  display: block;
}
.menu-sekiro:hover .dropdown-sekiro {
  display: block;
}
.menu-er:hover .dropdown-er {
  display: block;
}
nav a {
  color: inherit;
}
.dropdown li {
  width: 100%;
  background-color: black;
}
.dropdown li:hover {
  background-color: rgb(10, 10, 10);
}
header a {
  color: inherit;
}
h4 a {
  color: inherit;
}
.prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.data-summary {
  float: right;
  padding: 1em;
  font-size: 16px;
}
.data-summary p {
  text-indent: 0;
}
.data-summary img {
  width: 100%;
}
.data-even {
  background-color:rgba(0, 0, 0, 0.5)
}
nav button {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}
/* Light Mode */
.lightMode {
  background: linear-gradient(#868686, #802323) no-repeat;
  color: black;
}
.lightMode header {

  background-color: rgb(150, 150, 150);
  color: black;
}
.lightMode div {
  background-color: rgba(255, 255, 255, 0.2);
}
.lightMode div h2 {
  color: rgba(0, 0, 0, 0.75);
}
.lightMode nav ul li {
  background-color: rgb(175, 175, 175);
}
.lightMode nav li:hover {
  background-color: lightgray;
}
.lightMode footer {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 5px solid white; 
}
.lightMode .dropdown li {
  background-color: lightgray;
}
.lightMode .dropdown li:hover {
  background-color: rgb(170, 170, 170);
}
.lightMode .prev:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.lightMode .data-even {
  background-color:rgba(255, 255, 255, 0.5)
}